/* Start global rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: .3s; 
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}
.page-flex {
    background-color: #f1f5f9;
    min-height: 100vh;
}
.page-flex {
    display: flex;
}
.page-content {
    padding: 20px;
}
.ls {
    letter-spacing: -1px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* End global rules */
/* Start main title */
.main-title {
    font-weight: 700;
    margin-bottom: 40px;
    position: relative;
    letter-spacing: -1px;
}
.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
}
.main-title::before {
    background-color: white;
    width: 120px;
}
.main-title::after {
    background-color: black;
    width: 40px;
}
.sec-title {
    margin-bottom: 10px;
    margin-top: 0;
}
.sec-title + p {
    color: var(--grey-color);
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0;
}
/* End main title */
/* Start components */
.toggle-check{
    -webkit-appearance: none;
    appearance: none;
}
.toggle-menu {
    background-color: #CCC;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: var(--main-transition);
    cursor: pointer;
}
.toggle-menu::before {
    font-family: "font awesome 5 free";
    content: "\f00d";
    font-weight: 900;
    font-size: 14px;
    color: #AAA;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: var(--main-transition);
}
.toggle-check:checked + .toggle-menu {
    background-color: var(--blue-color);
}
.toggle-check:checked + .toggle-menu::before {
    color: var(--blue-color);
    content: "\f00c";
    left: 50px;
}
/* End components */
/* Start side bar */
.side-bar {
    max-width: 220px;
    width: 220px;
    background-color: white;
    box-shadow: 2px 0 10px #ddd;
    padding: 20px;
    z-index: 1;
}
.side-bar h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.side-bar h2::before {
    content: '';
    width: 50%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -15px;
    left: 46px;
}
.side-bar h2::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px white solid;
    background-color: black;
    position: absolute;
    bottom: -14px;
    left: 82px;
    transform: translate(0, 50%);
}
.side-bar > ul.pages > li {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin-bottom: 5px;
    transition: var(--main-transition);
}
.side-bar > ul.pages > li a {
    width: 100% ;
}
.side-bar > ul.pages > li:hover,  
.side-bar > ul.pages > li.active {
    background-color: #f6f6f6;
    border-radius: 10px;
}
.side-bar > ul.pages > li > a > span {
    font-size: 14px;
    margin-left: 6px;
    color: black;
}
.side-bar > ul.pages > li > a i {
    font-size: 14px;
    color: black;
}
@media (max-width: 767px) {
    .side-bar {
        width: 60px;
        max-width: 60px;
        padding: 10px 5px;
    }
    .side-bar h2 {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 20px;
        letter-spacing: -1px;
    }
    .side-bar h2::before, 
    .side-bar h2::after {
        display: none;
    }
    .side-bar > ul.pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .side-bar > ul.pages > li {
        padding: 7px 10px;
        display: block;
        width: fit-content;
    }
    .side-bar > ul.pages > li > a > span {
        display: none;
    }
}
/* End side bar */
/* Start content */
/* Start navbar */
.page-flex .content {
    flex: 1;
}
.page-flex .content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
}
.page-flex .content nav form {
    position: relative;
}
.page-flex .content nav form::before {
    content: '\f002';
    font-family: 'Font Awesome 7 Free';
    font-weight: 900;
    font-size: 14px;
    color: var(--grey-color);
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(-50%, -50%);
}
.page-flex .content nav form input[type="search"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 160px;
    padding: 10px;
    padding-left: 30px;
    transition: var(--main-transition);
}
.page-flex .content nav form input[type="search"]:focus {
    outline: none;
    width: 200px;
}
.page-flex .content nav form input[type="search"]:focus::placeholder {
    opacity: 0;
}
.page-flex .content nav .user {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page-flex .content nav .user img.profile {
    width: 32px;
    margin-left: 10px;
}
.page-flex .content nav .user i {
    display: block;
    font-size: 20px;
    position: relative;
}
.page-flex .content nav .user i::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -4px;
}
/* End navbar */
.page-content > .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}
@media (max-width: 767px) {
    .page-content > .boxes {
        grid-template-columns: minmax(200px, 1fr);
        gap: 20px;
    }
}
.page-content > .boxes > .box {
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    padding: 20px;
}
/* Start dashboard */
/* Start welcome */
.page-content > .boxes .welcome {
    padding: 0;
}
.page-content > .boxes .welcome .box-header {
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 20px;
    position: relative;
}
.page-content .boxes .welcome .box-header .welcome-img {
    width: 200px;
    margin-bottom: -10px;
}
.page-content .boxes .welcome .box-header .profile-img {
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 50%;
    outline: 2px solid white;
    box-shadow: 0 0 10px #ddd;
    position: absolute;
    bottom: -70px;
    margin-bottom: 40px;
}
.page-content .boxes .welcome .box-content .info {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 60px;
    text-align: center;
}
.page-content .boxes .welcome .box-content .info h5 {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
}
.page-content .boxes .welcome .box-content .info h5 span {
    display: block;
    color: var(--grey-color);
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}
.page-content .boxes .welcome .box-content a {
    display: block;
    width: fit-content;
    padding: 5px 8px;
    margin: 20px 15px 15px auto;
    font-size: 14px;
    color: white;
    background-color: var(--blue-color);
    border-radius: 6px;
    transition: var(--main-transition);
}
.page-content .boxes .welcome .box-content a:hover {
    background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
    .page-content .boxes .welcome .box-header .welcome-img {
        display: none;
    }
    .page-content .boxes .welcome .box-content .info {
        display: block;
    }
    .page-content .boxes .welcome .box-content .info h5 {
        margin-top: 15px;
    }
    .page-content .boxes .welcome .box-content .info h5 span {
        margin: 0;
        margin-top: 5px;
    }
    .page-content .boxes .welcome .box-header .text {
        text-align: center;
        margin-bottom: 20px;
    }
    .page-content .boxes .welcome .box-header .profile-img {
        left: 50%;
        transform: translateX(-50%);
    }
}
/* End welcome */
/* Start darft */
.page-content .boxes .draft form {
    display: flex;
    flex-direction: column;
}
.page-content .boxes .draft form input[type="text"],
.page-content .boxes .draft form textarea {
    border: none;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
.page-content .boxes .draft form textarea {
    resize: none;
}
.page-content .boxes .draft form input::placeholder {
    color: var(--grey-color);
}
.page-content .boxes .draft form input[type="text"]:focus,
.page-content .boxes .draft form textarea:focus {
    outline: none;
}
.page-content .boxes .draft form input[type="submit"] {
    display: block;
    width: fit-content;
    padding: 5px 8px;
    margin-left: auto;
    font-size: 14px;
    color: white;
    background-color: var(--blue-color);
    border: none;
    border-radius: 6px;
    transition: var(--main-transition);
}
/* End darft */
/* Start targets */
.targets .target-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.targets .target-box i {
    font-size: 20px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.targets .blue i { color: var(--blue-color); background-color: #0077ff30 }
.targets .orange i { color: var(--orange-color); background-color: #f59e0b30 }
.targets .green i { color: var(--green-color); background-color: #22c55e30 }
.targets .target-box .info {
    flex: 1;
}
.targets .target-box .info p:first-of-type {
    font-size: 14px;
    color: var(--grey-color);
}
.targets .target-box .info p:last-of-type {
    font-weight: bold;
    margin: 5px 0 10px;
}
.targets .target-box .info > span {
    display: block;
    height: 4px;
}
.targets .blue .info > span { background-color: #0077ff30; }
.targets .orange .info > span { background-color: #f59e0b30; }
.targets .green .info > span { background-color: #22c55e30; } 
.targets .target-box .info > span > span {
    display: block;
    height: 4px;
    position: relative;
}
.targets .blue .info > span > span { background-color: #0077ff; width: 80%; }
.targets .orange .info > span > span { background-color: #f59e0b; width: 55%; }
.targets .green .info > span > span { background-color: #22c55e; width: 75%; } 
.targets .target-box .info > span > span::before {
    content: '55%';
    width: 20px;
    height: 15px;
    border-radius: 6px;
    padding: 3px 7px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 20px;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.targets .blue .info > span > span::before { background-color: var(--blue-color); }
.targets .orange .info > span > span::before { background-color: var(--orange-color); }
.targets .green .info > span > span::before { background-color: var(--green-color); }
.targets .target-box .info > span > span::after {
    content: '';
    border-style: solid;
    border-width: 5px;
    position: absolute;
    right: 0;
    bottom: 10px;
    transform: translateX(50%);
}
.targets .blue .info > span > span::after { border-color: var(--blue-color) transparent transparent; } 
.targets .orange .info > span > span::after { border-color: var(--orange-color) transparent transparent; } 
.targets .green .info > span > span::after { border-color: var(--green-color) transparent transparent; }
/* End targets */
/* Start statics */
.statics .boxes {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 20px;
}
.statics .boxes .box {
    text-align: center;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.statics .boxes .box i {
    font-size: 25px;
    margin: 10px 0;
}
.statics .boxes .box:first-of-type i { color: var(--orange-color); }
.statics .boxes .box:nth-child(2) i { color: var(--blue-color); }
.statics .boxes .box:nth-child(3) i { color: var(--green-color); }
.statics .boxes .box:last-of-type i { color: var(--red-color); }
.statics .boxes .box p {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}
.statics .boxes .box span {
    color: var(--grey-color);
    font-size: 14px;
    text-transform: capitalize;
}
/* End statics */
/* Start news */
.news .list-news .new {
    display: flex;
    align-items: center;
    padding: 20px 0;    
}
.news .list-news .new:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.news .list-news .new img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}
.news .list-news .new .text h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.news .list-news .new .text p {
    color: var(--grey-color);
    font-size: 14px;
}
.news .list-news .new > span {
    display: block;
    font-size: 14px;
    padding: 4px 6px;
    background-color: #eee;
    border-radius: 5px;
    margin-left: auto;
}
@media (max-width: 767px) {
    .news .list-news .new {
        flex-direction: column;
    }
    .news .list-news {
        text-align: center;
    }
    .news .list-news .new img {
        margin: 0;
        margin-bottom: 10px;
    }
    .news .list-news .new > span {
        margin: 0;
        margin-top: 10px;
    }
}
/* End news */
/* Start tasks */
.latest-tasks .tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.latest-tasks .tasks .task:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.latest-tasks .tasks .task:nth-child(4) .text {
    text-decoration: line-through;
}
.latest-tasks .tasks .task:nth-child(4)::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;

}
/* End tasks */
/* Start top items */
.top-items .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey-color);
    margin-bottom: 10px;
}
.top-items .items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.top-items .items .item span {
    background-color: #eee;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 14px;
}
/* End top items */
/* Start uploads */
.uploads .files .file {
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
}
.uploads .files .file:not(:last-child) {
    border-bottom: 1px #eee solid;
}
.uploads .files .file img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.uploads .files .file .text span {
    color: var(--grey-color);
}
.uploads .files .file > span {
    display: block;
    background-color: #eee;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    font-size: 14px;
}
/* End uploads */
/* Start progress */
.progress ul li {
    padding: 15px 0 15px 40px;
    position: relative;
}
.progress ul li:first-child:before {
    content: '';
    width: 2px;
    height: 230px;
    background-color: var(--blue-color);
    position: absolute;
    left: 10px;
    top: 15px;
}
.progress ul li::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--blue-color);
    border: 2px white solid;
    outline: 2px var(--blue-color) solid;
    position: absolute;
    left: 11px;
    top: 15px;
    transform: translateX(-50%);
}
.progress ul li:last-child::after {
    background-color: white;
}
.progress ul li:nth-last-child(2)::after {
    animation: color-changer 1.5s infinite linear forwards;
}
.progress img {
    width: 170px;
    opacity: .1;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media (max-width: 767px) {
    .progress img {
        display: none;
    }
}
/* End progress */
/* Start reminders */
.reminders ul li {
    padding-left: 10px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -1px;
    position: relative;
    border-left: 2px solid;
}
.reminders ul li:first-child { border-left-color: var(--blue-color); }
.reminders ul li:nth-child(2) { border-left-color: var(--green-color); }
.reminders ul li:nth-child(3) { border-left-color: var(--orange-color); }
.reminders ul li:last-child { border-left-color: var(--red-color); }
.reminders ul li:not(:last-child) {
    margin-bottom: 20px;
}
.reminders ul li::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: -35px;
}
.reminders ul li:first-child::before { background-color:  var(--blue-color); }
.reminders ul li:nth-child(2)::before { background-color:  var(--green-color); }
.reminders ul li:nth-child(3)::before { background-color:  var(--orange-color); }
.reminders ul li:last-child::before { background-color:  var(--red-color); }
.reminders ul li span {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0;
    margin-top: 10px;
    display: block;
}
/* End reminders */
/* Start post */
.post .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.post .info img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.post .info .text p {
    font-weight: bold;
}
.post .info .text span {
    display: block;
    color: var(--grey-color);
    margin-top: 5px;
}
.post p.message {
    padding: 20px 0 40px 0;
    text-transform: capitalize;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    line-height: 1.8;
}
.post .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    color: var(--grey-color);
}
/* End post */
/* Start social */
.social ul li .text {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 70px;
    position: relative;
}
.social ul li:not(:last-child) .text {
    margin-bottom: 10px;
}
.social ul li:first-child .text { background-color: rgb(29 161 242 / 20%); }
.social ul li:nth-child(2) .text { background-color: rgb(24 119 242 / 20%); }
.social ul li:nth-child(3) .text { background-color: rgb(255 0 0 / 20%); }
.social ul li:last-child .text { background-color: rgb(0 119 181 / 20%); }
.social ul li a {
    padding: 3px 6px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}
.social ul li .text i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 100%;
    font-size: 35px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--main-transition);
}
.social ul li .text i:hover {
    transform: rotate(5deg);
}
.social ul li:first-child .text p { color: #1da1f2; }
.social ul li:first-child a,
.social ul li:first-child .text i {
    background-color: #1da1f2;
}

.social ul li:nth-child(2) .text p { color: #1da1f2; }
.social ul li:nth-child(2) a,
.social ul li:nth-child(2) .text i {
    background-color: #1da1f2;
}

.social ul li:nth-child(3) .text p { color: red; }
.social ul li:nth-child(3) a,
.social ul li:nth-child(3) .text i {
    background-color: red;
}

.social ul li:last-child .text p { color: #0077b5; }
.social ul li:last-child a,
.social ul li:last-child .text i {
    background-color: #0077b5;   
}

/* End social */
/* Start Projects */
.projects {
    grid-column: 1 / -1;
    overflow: scroll;
}
.projects .r-table {
    overflow-x: auto;
}
.projects table {
    min-width: 1050px;
}
.projects table, th, td {
    border-collapse: collapse;
    border: 1px solid #eee;
    padding: 15px;
}
.projects table tbody tr {
    transition: var(--main-transition);
}
.projects table tbody tr:hover {
    background-color: #faf7f7;
}
.projects table thead tr th {
    text-align: left;
    background-color: #eee;
} 
.projects table tbody tr td span {
    color: white;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 5px;
}
.projects table tbody tr td span.orange {
    background-color: var(--orange-color);
}
.projects table tbody tr td span.green {
    background-color: var(--green-color);
}
.projects table tbody tr td span.red {
    background-color: var(--red-color);
}
.projects table tbody tr td span.blue {
    background-color: var(--blue-color);
}
.projects table tbody tr td.team-images img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px white solid;
}
.projects table tbody tr td.team-images img:not(:first-child) {
    margin-left: -20px;
}
/* End Projects */
/* End dashboard */
/* Start settings */
/* Start site control */
.settings .control .con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.settings .control .con .text span {
    display: block;
    margin-top: 5px;
    color: var(--grey-color);
    font-size: 13px;
}
.settings .control textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 6px;
    resize: none;
}
.settings .control textarea:focus {
    outline: none;
}
/* End site control */
/* Start Info */
.settings .info form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.settings .info form label span {
    color: var(--grey-color);
    font-size: 15px;
    margin-bottom: 10px;
}
.settings .info form label input {
    border: 1px #ddd solid;
    border-radius: 6px;
    padding: 10px;
}
.settings .info form label .email-form {
    display: flex;
    align-items: center;
}
.settings .info form label .email-form input {
    flex: 1;
    overflow: hidden;
    cursor: no-drop;
    background-color: #f0f4f8;
    margin-right: 10px;
}
.settings .info form label .email-form input::placeholder {
    color: var(--grey-color);
}
.settings .info form label .email-form a {
    color: var(--blue-color);
    padding: 0 10px;
}
/* End Info */
/* Start Security */
.security .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.security .infos .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 20px;
}
.security .infos .info:not(:last-child) {
    border-bottom: 1px #eee solid;
}
.security .infos .info .content h4 {
    font-weight: 600;
    margin-bottom: 8px;
}
.security .infos .info .content p {
    font-size: 14px;
    color: var(--grey-color);
}
.security .infos .info:first-child a {
    background-color: var(--blue-color);
    color: white;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 5px;
}
.security .infos .info:last-child a {
    background-color: #eee;
    color: black;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 8px;
}
/* End Security */
/* Start social */
.social .medias .media {
    margin-bottom: 15px;
    border: 1px #ccc solid;
    border-radius: 6px;
    display: flex;
    overflow: hidden;
}
.social .medias .media i {
    background-color: #f6f6f6;
    color: var(--grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 20px;
    border-right: 1px #ccc solid;
    transition: var(--main-transition);
}
.social .medias .media input {
    width: 100%;
    border: none;
    padding: 2px 2px 2px 10px;
    background-color: #f6f6f6;
}
.social .medias .media input:focus {
    outline: none;
}
.social .medias .media:focus-within i {
    color: black;
}
/* End social */
/* Start widegts control */
.w-control ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.w-control ul label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    cursor: pointer;
    width: fit-content;
}
.w-control ul label input.checkbox {
    appearance: none;
}
.w-control ul label .checker {
    background-color: transparent;
    border: 2px var(--grey-color) solid;
    border-radius: 5px;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-left: 5px;
    position: relative;
}
.w-control ul label .checker::before {
    content: "\f00c";
    background-color: var(--blue-color);
    color: white;
    font-family: "font awesome 5 free";
    font-weight: 900;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    position: absolute;
    top: -2px;
    left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    transform: rotate(360deg) scale(.01);
}
.w-control ul label .checkbox:checked + .checker::before
{
    transform: rotate(0deg) scale(1);
}
.w-control ul label:hover .checker {
    border-color: var(--blue-color);
}
/* End widegts control */
/* Start backup manager */
.backup .radioboxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}
.backup .radioboxes label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    cursor: pointer;
}
.backup .radioboxes label .radio {
    appearance: none;
}
.backup .radioboxes label .radiobox {
    background-color: transparent;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-left: 5px;
    border: 2px var(--grey-color) solid;
    border-radius: 50%;
    position: relative;
}
.backup .radioboxes label .radiobox::before {
    content: "";
    background-color: var(--blue-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transform: scale(0);   
    transition: var(--main-transition); 
}
.backup .radioboxes label .radio:checked + .radiobox {
    border-color: var(--blue-color);
}
.backup .radioboxes label .radio:checked + .radiobox::before {
    transform: scale(1);
}
.backup .servers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    border-top: 1px #eee solid;
}
.backup .servers input {
    appearance: none;
}
.backup .servers label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 32%;
    padding: 15px 20px;
    border: 2px #eee solid;
    border-radius: 8px;
    cursor: pointer;    
}
.backup .servers .box-server {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.backup .servers .box-server i {
    margin-bottom: 10px;
}
.backup .servers input:checked + .box-server {
    color: var(--blue-color);
}
.backup .servers label:has(input:checked) {
    border-color: var(--blue-color);
}
@media (max-width: 767px)
{
    .backup .servers {
        flex-direction: column;
    }
    .backup .servers label {
        width: 100%;
        margin-bottom: 20px;
    }
}
/* End backup manager */
/* End settings */
/* Start profile */
.profile-boxes {
    grid-template-areas: "info info info info info info" "skills skills latest latest latest latest";
    grid-template-columns: auto auto auto auto auto !important;
}
/* Start info */
.profile-boxes .info-box {
    grid-area: info;
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    padding-right: 0 !important;
}
.profile-boxes .info-box .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 50px 20px 30px;
    border-right: 1px #eee solid;
}
.profile-boxes .info-box .avatar img {
    width: 120px;
    margin-bottom: 20px;
}
.profile-boxes .info-box .avatar .level {
    margin: 10px 0;
    color: var(--grey-color);
}
.profile-boxes .info-box .avatar .progress {
    background-color: #eee;
    width: 140px;
    height: 5px;
    border-radius: 10px;
    position: relative;
}
.profile-boxes .info-box .avatar .progress::after {
    content: "";
    width: 80%;
    height: 100%;
    background-color: var(--blue-color);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.profile-boxes .info-box .avatar .stars {
    margin: 10px 0;
}
.profile-boxes .info-box .avatar .stars i {
    font-size: 12px;
    color: var(--orange-color);
}
.profile-boxes .info-box .avatar .rate {
    font-size: 14px;
    color: var(--grey-color);
}
.profile-boxes .info-box .information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}
.profile-boxes .info-box .information .info {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    transition: var(--main-transition);
}
.profile-boxes .info-box .information .info:hover {
    background-color: #f9f9f9;
}
.profile-boxes .info-box .information .info:not(:last-child) {
     border-bottom: 1px #eee solid;
}
.profile-boxes .info-box .information .info .title {
    width: 100%;
    color: var(--grey-color);
    font-size: 16px;
    margin-bottom: 10px;
}
.profile-boxes .info-box .information .info p {
    min-width: 250px;
    margin-bottom: -5px;
    font-size: 14px;
}
.profile-boxes .info-box .information .info p span {
    color: var(--grey-color);
}
.profile-boxes .info-box .information .info .toggle {
    min-width: 250px;
    height: 20px;
    margin-bottom: 20px;
}
.profile-boxes .info-box .information .info label {
    min-width: 250px;
}
.profile-boxes .info-box .information .info label .toggle-menu {
    height: 20px;
    margin-top: -5px;
}
.profile-boxes .info-box .information .info label .toggle-menu::before {
    width: 12px;
    height: 12px;
    font-size: 6px;
}
.profile-boxes .info-box .information .info label .toggle-check:checked + .toggle-menu::before {
    left: 62px;
}
@media(max-width: 1150px)
{
    .profile-boxes .info-box .information .info p,
    .profile-boxes .info-box .information .info .title {
        margin-bottom: 8px;
    }
}
/* End info */
/* Start my skills */
.profile-boxes .skills-box {
    grid-area: skills;
}
.profile-boxes .skills-box .skills {
    display: flex;
    flex-direction: column;
}
.profile-boxes .skills-box .skills .skill-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
}
.profile-boxes .skills-box .skills .skill-box:not(:last-child) {
    border-bottom: 1px #eee solid;
}
.profile-boxes .skills-box .skills .skill-box p {
    padding: 4px 10px;
    font-size: 14px;
    margin-right: 6px;
    background-color: #eee;
    border-radius: 6px;
}
@media (max-width: 970px) {
    .profile-boxes .skills-box .skills .skill-box p {
        margin-bottom: 5px;
    }
}
/* End my skills */
/* Start latest */
.profile-boxes .latest-box {
    grid-area: latest;
}
.profile-boxes .latest-box .activities {
    display: flex;
    flex-direction: column;
}
.profile-boxes .latest-box .activities .activity-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.profile-boxes .latest-box .activities .activity-box:not(:first-child) {
    padding-top: 20px;
}
.profile-boxes .latest-box .activities .activity-box:not(:last-child) {
    border-bottom: 1px #eee solid;
}
.profile-boxes .latest-box .activities .activity-box .content {
    display: flex;
    align-items: center;
}
.profile-boxes .latest-box .activities .activity-box .content img {
    max-width: 65px;
    margin-right: 20px;
}
.profile-boxes .latest-box .activities .activity-box .content > div {
    font-weight: 600; 
}
.profile-boxes .latest-box .activities .activity-box .content > div > p {
    font-weight: normal;
    color: var(--grey-color);
    margin-top: 10px;
}
.profile-boxes .latest-box .activities .activity-box .date .time {
    text-align: right;
    margin-bottom: 10px;
}
.profile-boxes .latest-box .activities .activity-box .date .day {
    color: var(--grey-color);
}
/* End latest */
@media (max-width: 767px) {
    .profile-boxes .info-box {
        flex-direction: column;
        padding: 0 !important;
    }
    .profile-boxes .info-box .avatar {
        border: none;
    }
    .profile-boxes .info-box .information {
        min-width: 100%;
    }
    .profile-boxes .info-box .information .info {
        flex-direction: column;
        text-align: center;
    }
    .profile-boxes .info-box .information .info label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .profile-boxes {
    grid-template-areas: "info info info info info info" 
                         "skills skills skills skills skills skills" 
                         "latest latest latest latest latest latest";
    grid-template-columns: auto auto auto auto auto !important;
    }
    .profile-boxes .skills-box .skills .skill-box {
        justify-content: center;
    }
    .profile-boxes .latest-box .activities .activity-box {
        flex-direction: column;
    }
    .profile-boxes .latest-box .activities .activity-box .content {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }
    .profile-boxes .latest-box .activities .activity-box .content img {
        margin: 0;
        margin-bottom: 10px;
    }
    .profile-boxes .latest-box .activities .activity-box .date .time {
        text-align: center;
    }
}
/* End profile */
/* Start projects */
.projects-boxes .project-box {
    position: relative;
}
.projects-boxes .project-box .header {
    margin-bottom: 45px;
}
.projects-boxes .project-box .date {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--grey-color);
    font-size: 13px;
    font-weight: 600;
}
.projects-boxes .project-box .images {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.projects-boxes .project-box .images img {
    width: 40px;
    border-radius: 50%;
    border: 2px white solid;
}
.projects-boxes .project-box .images img:not(:last-child) {
    margin-right: -15px;
}
.projects-boxes .project-box .tags {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 0;
    border-bottom: 1px #eee solid;
    border-top: 1px #eee solid;
    margin-bottom: 10px;
}
.projects-boxes .project-box .tags .tag {
    background-color: #eee;
    margin-left: 5px;
    border-radius: 6px;
    padding: 4px 6px;
    font-size: 13px;
}
.projects-boxes .project-box .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects-boxes .project-box .stats .progress {
    height: 8px;
    width: 50%;
    background-color: #eee;
    border-radius: 6px;
    position: relative;
}
.projects-boxes .project-box .stats .progress::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--red-color);
    border-radius: 6px;
}
.projects-boxes .project-box .stats .amount {
    font-size: 14px;
    color: var(--grey-color);
    position: relative;
}
.projects-boxes .project-box .stats .amount::before {
    content: "\24";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 5px;
}
@media(max-width: 767px) {
    .projects-boxes .project-box .tags {
        flex-direction: column;
        align-items: flex-start;
    }
    .projects-boxes .project-box .tags .tag:not(:last-child) {
        margin-bottom: 15px;
    }
    .projects-boxes .project-box .stats {
        flex-direction: column;
        align-items: center;
    }
    .projects-boxes .project-box .stats .progress {
        width: 100%;
        margin-bottom: 15px;
    }
}
/* End projects */
/* Start courses */
.courses {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
}
.courses .course {
    padding: 0 !important;
    position: relative;
    border-radius: 6px !important;
}
.courses .course .image img:first-child {
    position: absolute;
    width: 65px;
    border-radius: 50%;
    border: 2px white solid;
    top: 20px;
    left: 20px;
}
.courses .course .image img:last-child {
    max-width: 100%;
}
.courses .course .title {
    padding: 20px 40px 20px 20px;
}
.courses .course .title h3 {
    font-size: 16px;
    margin-bottom: 15px;
}
.courses .course .title p {
    font-size: 14px;
    color: var(--grey-color);
    line-height: 22px;
    margin-bottom: 20px;
}
.courses .course .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px #eee solid;
    padding: 15px;
    position: relative;
}
.courses .course .info::before {
    content: "Course Info";
    background-color: var(--blue-color);
    color: white;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 13px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.courses .course .info p {
    font-size: 12px;
    color: var(--grey-color);
}
.courses .course .info p::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 14px;
    color: var(--grey-color);
    margin-right: 5px;
}
.courses .course .info p.students::before {
    content: "\f007";
}
.courses .course .info p.price::before {
    content: "\24";
}
/* End courses */
/* Start freinds */
.friends {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
}
.friends .friend {
    border-radius: 6px !important;
    position: relative;
}
.friends .friend .main-info {
    width: fit-content;
    margin: auto;
    text-align: center;
}
.friends .friend i.phone,
.friends .friend i.envelope {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--grey-color);
    background-color: #eee;
    padding: 15px;
    border-radius: 50%;
    font-size: 14px;
    position: absolute;
    transition: var(--main-transition);
    cursor: pointer;
}
.friends .friend i.phone {
    top: 10px;
    left: 10px;
}
.friends .friend i.envelope {
    top: 10px;
    left: 48px;
}
.friends .friend i.phone:hover,
.friends .friend i.envelope:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends .friend .main-info img {
    width: 100px;
    border-radius: 50%;
    margin: 10px 0;
}
.friends .friend .main-info .name {
    font-size: 16px;
    margin-bottom: 5px;
}
.friends .friend .main-info .job-title {
    color: var(--grey-color);
    font-size: 13px;
    margin-bottom: 15px;
}
.friends .friend .stats {
    padding: 15px 0;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    position: relative;
}
.friends .friend.vip .stats::after {
    content: "VIP";
    font-size: 40px;
    font-weight: bold;
    color: var(--orange-color);
    position: absolute;
    top: 25px;
    right: 0;
    opacity: .2;
}
.friends .friend .stats p:not(:last-child) {
    margin-bottom: 10px;
}
.friends .friend .stats p {
    font-size: 14px;
}
.friends .friend .stats p.friend::before { content: "\f118"; }
.friends .friend .stats p.project::before { content: "\f386"; font-weight: 600 !important; margin-right: 10px !important;}
.friends .friend .stats p.article::before { content: "\f1ea"; }
.friends .friend .stats p::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 14px;
    margin-right: 12px;
}
.friends .friend .settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.friends .friend .settings > p {
    color: var(--grey-color);
    font-size: 14px;
}
.friends .friend .settings .buttons {
    display: flex;
    align-items: center;
}
.friends .friend .settings .buttons a {
    display: block;
    padding: 4px 8px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 5px;
}
.friends .friend .settings .buttons a:first-child { background-color: var(--blue-color); }
.friends .friend .settings .buttons a:last-child { background-color: var(--red-color); }  
/* End freinds */
/* Start files */
.files-content {
    display: flex;
    align-items: flex-start;
}
.files-content .files {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex: 1;
}
.files-content .files .file {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.files-content .files .file > i {
    color: var(--grey-color);
}
.files-content .files .file .file-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.files-content .files .file .file-info img {
    width: 65px;
    margin-bottom: 15px;
    transition: var(--main-transition);
}
.files-content .files .file:hover img {
    transform: rotate(5deg);
}
.files-content .files .file .file-info p.name {
    font-size: 14px;
}
.files-content .files .file > p.uploader {
    color: var(--grey-color);
    font-size: 12px;
    margin-bottom: 10px;
}
.files-content .files .file .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px #eee solid;
}
.files-content .files .file .details p {
    font-size: 12px;
    color: var(--grey-color);
}
.files-content .files-statistics {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    min-width: 260px;
}
.files-content .files-statistics > h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.files-content .files-statistics .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.files-content .files-statistics .stats .stat {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    border: 1px #eee solid;
    border-radius: 6px;
    margin-bottom: 15px;
}
.files-content .files-statistics .stats .stat i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.files-content .files-statistics .stats .stat.pdf i { color: var(--blue-color); background-color: #0077ff30; }
.files-content .files-statistics .stats .stat.img i { color: var(--green-color); background-color: #22c55e30; }
.files-content .files-statistics .stats .stat.word i { color: var(--red-color); background-color: #f4433630; }
.files-content .files-statistics .stats .stat.csv i { color: var(--orange-color); background-color: #f59e0b30; }
.files-content .files-statistics .stats .stat .stat-info {
    display: flex;
    align-items: center;
    flex: 1;
}
.files-content .files-statistics .stats .stat .stat-info .name-num {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}
.files-content .files-statistics .stats .stat .stat-info .name-num .name {
    font-size: 13px;
    margin-bottom: 8px;
}
.files-content .files-statistics .stats .stat .stat-info .name-num .num {
    color: var(--grey-color);
    font-size: 12px;
}
.files-content .files-statistics .stats .stat .stat-info .size {
    font-size: 13px;
    color: var(--grey-color);
}
.files-content .files-statistics a.upload-button {
    display: block;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    background-color: var(--blue-color);
    padding: 10px 14px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    transition: var(--main-transition);
}
.files-content .files-statistics a.upload-button:hover {
    background-color: var(--blue-alt-color);    
}
.files-content .files-statistics a.upload-button i {
    margin-right: 8px;
}
.files-content .files-statistics a.upload-button:hover i {
    animation: go-up 0.8s infinite;
}
@media(max-width: 767px) {
    .files-content {
        flex-direction: column-reverse;
    }
    .files-content .files {
        width: 100%;
    }
    .files-content .files-statistics {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .files-content .files-statistics h2 {
        text-align: center;
    }
}
/* End files */
/* Start plans */
.plans-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}
.plans-boxes .plan-box {
    background-color: white;
    padding: 20px;
}
.plans-boxes .plan-box .header {
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: var(--green-color);
    color: white;
    text-align: center;
    border: 3px white solid;
    outline: 3px var(--green-color) solid;
    margin-bottom: 20px;
}
.plans-boxes .plan-box .header .title {
    font-size: 24px;
}
.plans-boxes .plan-box .header .amount {
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: auto;
}
.plans-boxes .plan-box .header .amount::before {
    content: "\24";
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: -16px;
}
.plans-boxes .plan-box .benefits {
    margin-bottom: 20px;
}
.plans-boxes .plan-box .benefits .benefit {
    padding: 15px 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px #eee solid;
    position: relative;
}
.plans-boxes .plan-box .benefits .benefit.false::before {
    content: "\58";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 16px;
    color: var(--red-color);
    margin-right: 10px;
}
.plans-boxes .plan-box .benefits .benefit:not(.false)::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 16px;
    color: var(--green-color);
    margin-right: 10px;
}
.plans-boxes .plan-box .benefits .benefit i {
    color: var(--grey-color);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.plans-boxes .plan-box a.join-button {
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    background-color: var(--green-color);
    border-radius: 6px;
}
/* End plans */
/* End content */
/* Start Animation */
@keyframes color-changer {  
    0%, 100% {
        background-color: var(--blue-color);
    }
    50% {
        background-color: white;
    }
}
@keyframes go-up {
    50% {
        transform: translateY(-5px);
    }
}
/* End Animation */